*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgb(155,255 ,222);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container{
    background: rgba(39,29,95,255);
    width: 350px;
    height: 680px;
    padding: 20px;
    border-radius: 30px;
    position: relative;
}
.header{
    display: inline;
}
.header i{
    width: 35px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    background: rgba(170,170,170,0.37);
    color: rgb(12,134,248);
}
h2{
    margin-top: -30px;
    text-align: center;
    color: rgba(236,233,233,0.863);
}
h1,p,h4{
    text-align: center;
}
h4{
    color: rgb(197,197,197);
}
h1{
    color: #fff;
}
.payment h4{
    margin-top: 50px;
    margin-bottom: 5px;
}
.payment h1{
    color: rgb(255,90,30);
    margin-bottom: 46px;
}
.payment h3{
    color: #fff;
    margin: 10px 0px;
}
.payment~h3{
    color: #fff;
}
.box{
    border: 1px solid transparent;
    background-color: rgba(170,170,170,0.185);
    height: 60px;
    margin-bottom: 30px;
    border-radius: 20px;
    position: relative;
    margin-top: 10px;
}
.box i{
    font-size: 36px;
    left: 15px;
    position: absolute;
    top: 10px;
    color: #fff;
}
.box h4{
    margin-top: 7px;
    margin-left: 84px;
    text-align: left;
}
.box i#right{
    position: absolute;
    left: 260px;
    top: 20px;
    font-size: 20px;
}
.box~i{
    margin-top: 100px;
    color: rgb(10,219,246);
    font-size: 12px;
}
i~p{
    width: 100%;
    padding: 5px;
    text-align: left;
    color: rgb(189,185,185);
    margin-top: -25px;
    margin-left: 20px;
}
p{
    color: rgb(197,197,197);
    padding: 20px 35px;
}
a{
    text-decoration: none;
    color: rgb(197,197,197);
    cursor: pointer;
}
p a{
    color: rgb(10,219,246);
}
button{
    border-radius: 10px;
    border: none;
    background-color: rgb(10,219,246);
    width: calc(100% - 56px);
    text-align: center;
    color: #000;
    outline: none;
    height: 45px;
    position: absolute;
    font-size: 22px;
    bottom: 25px;
    cursor: pointer;
    left: 20px;
    margin: 10px;
}


/* pin html */
.pin{
    position: absolute;
    padding-left: 50px;
    top: 200px; user-select: none;
}
input[type="text"]{
    border-radius: 50%;
    width: 10px;
    border: none;
    outline: none;
    margin: 10px 10px;
    height: 10px;
    background: rgba(32,93,149,0.281);
    color: transparent;
}
.keyboard{
    position: absolute;
    bottom: 30px;
    margin-left: -10px;
    display: flex;
    flex-wrap: wrap;
}
a.link{
    margin-left: 110px;
    position: absolute;
    top: 250px;
    color: rgb(219,100,57);
    font-weight: bold;
    font-size: 18px;
}
input[type="button"]{
    width: 32%;
    border: none;
    outline: none;
    font-size: 22px;
    background-color: transparent;
    color: #fff;
    padding: 20px;
    text-align: center;
    height: 80px;
}
input[type="button"]:hover{
    background: #fff;
    color: rgb(219,100,57);
    border-radius: 20px;
}
#unhover:hover{
    background: transparent;
}


/* success payment */
img{
    width: 80%;
    transform: rotate(-3deg);
    height: 250px;
    margin-left: 20px;
}
hr{
    width: 60%;
    margin: 25px auto;
    border:1px solid rgb(98,98,98);
}
.social_link{
    display: flex;
    width: 200px;
    margin-left: 76px;
}
a i{
    padding: 5px;
    background: rgba(170,170,170,0.37);
    font-size: 20px;
    color: #fff;
    border-radius: 5px;
    margin: 15px;
}
a span{
    color: #eee;
    display: flex;
    margin-top: -5px;
    justify-content: center;
}